.idea/
*.iml
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
venv/
.env/
.venv/
*.db
*.sqlite3
.pgdata/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
.coverage
.cache/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
